topicprefix = /topic/
main_collective = mcollective
collectives = mcollective, qacollective 
libdir = /usr/libexec/mcollective
logfile = /var/log/mcollective.log
loglevel = info
daemonize = 1

# Plugins
#securityprovider = psk
#plugin.psk = plokiploki
securityprovider = ssl
plugin.ssl_server_private = /etc/mcollective/ssl/server-private.pem
plugin.ssl_server_public = /etc/mcollective/ssl/server-public.pem
plugin.ssl_client_cert_dir = /etc/mcollective/ssl/clients/


connector = stomp
plugin.stomp.host = el6.labolinux.fr
plugin.stomp.port = 6163
plugin.stomp.user = mcollective
plugin.stomp.password = marionette

# Facts
factsource = facter 
plugin.yaml = /etc/mcollective/facts.yaml

classesfile=/var/lib/puppet/classes.txt
